<div class="main-container">
  <div class="top">
    <div class="navbar">
      <h1>supfile</h1>
    </div>
    <div class="big-image">

    </div>
    <div class="slide-down">
      <i class="fas fa-angle-down"></i>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="pres-item">
          <div class="icon">
            <i class="far fa-hdd"></i>
          </div>
          <p>30GB of free storage</p>
        </div>
      </div>
      <div class="col-4">
        <div class="pres-item">
          <div class="icon">
            <i class="fas fa-play"></i>
          </div>
          <p>Stream your videos with ease</p>
        </div>
      </div>
      <div class="col-4">
        <div class="pres-item">
          <div class="icon">
            <i class="fas fa-share-alt"></i>
          </div>
          <p>Share your files with others</p>
        </div>
      </div>
    </div>
  </div>
  <div class="login-buttons">
    <button class="btn btn-primary" (click)="login()">Log in</button>
    <button class="btn btn-primary" (click)="signup()">Sign up</button>
  </div>
</div>
