<div class="main-container">
  <div class="user-info">
    <i class="fas fa-user"></i>
    <p class="username">{{ username }}</p>
  </div>
  <div class="storage-chart">
    <p-chart type="doughnut" [data]="chartData" [options]="chartOptions"></p-chart>
    <p>{{ getFormattedSize(storageUsed) | number }}{{ getStorageSuffix(storageUsed) }} used out of {{ getFormattedSize(totalStorage)
      | number }}{{ getStorageSuffix(totalStorage) }}</p>
  </div>
  <button class="settings-btn">
    <i class="fas fa-cog"></i>
  </button>
  <button class="sign-out-btn" (click)="signOut()">
    <i class="fas fa-sign-out-alt"></i>
  </button>
</div>
