.main-container {
  height: 100%;
  width: 100%;
  background-color: rgb(88, 102, 124);
  padding: 40px 20px;
  user-select: none;
  position: relative;
  box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.175);
  .sign-out-btn,
  .settings-btn {
    transition: 200ms ease-in;
    position: absolute;
    bottom: 20px;
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
    i {
      color: white;
      font-size: 30px;
    }
    &:active {
      transform: scale(0.95);
    }
  }
  .settings-btn {
    left: 20px;
  }
  .sign-out-btn {
    right: 20px;
  }
  .user-info {
    width: 100%;
    i {
      font-size: 60px;
      display: block;
      margin: auto;
      color: white;
      width: 50px;
    }
    p.username {
      margin-top: 10px;
      text-align: center;
      color: white;
      font-weight: lighter;
      font-size: 22px;
    }
  }
  .storage-chart {
    margin-top: 50px;
    p {
      color: white;
      font-weight: lighter;
      text-align: center;
      margin-top: 10px;
      font-size: 13px;
    }
  }
}
