<div [@inOutFileAnim]="fileState" (@inOutFileAnim.done)="onHidingFileDone()" draggable="true" (click)="onFileClicked()" class="main-container"
  (contextmenu)="onContextMenuShown($event)">
  <i class="fas fa-file"></i>
  <p *ngIf="!file.isInEditMode">{{ file.name }}</p>
  <input *ngIf="file.isInEditMode" type="text" [(ngModel)]="file.name" class="form-control" placeholder="Name the file" (keyup.enter)="leaveEditMode()">
  <div class="context-menu" *ngIf="isContextMenuVisible">
    <ul>
      <li (click)="removeFile()">Remove</li>
      <li (click)="editName()">Rename</li>
    </ul>
  </div>
</div>
