.main-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: none;
  overflow: hidden;
  supfile-toolbar {
    position: fixed;
    z-index: 100;
    left: calc(25% + 15px);
    top: 0;
    width: calc(100% - 25%);
  }
  .main-content.row {
    height: 100%;
    position: relative;
    .left-pane {
      height: 100%;
    }
    .folder-grid {
      padding: 60px 20px 20px 20px;
      overflow-y: auto;
      transition: 200ms ease-in;
    }
    .progress {
      position: absolute;
      width: 75%;
      height: 30px;
      bottom: 0;
      left: calc(25% - 15px);
      border-radius: 0;
      .progress-bar {
        background-color: #44bf65;
      }
    }
  }
}
